body{
  height: auto;
}
header{
  height: 150px;
}
.head{
  margin-top: 30px;
}
h1{
  text-align: center;
  font-weight: 500;
}
.PH{
  text-align: center;
}
.TcolorW{
  color: white;
}

.MarginB{
  margin-bottom: 0;
}
.Txt{
  padding: 0;
}
.DivButtom{
  margin-bottom: 20px;
}

.FlexColonne{
  display: flex;
  flex-direction: column;
}
.nav-justified .nav-item{
  text-align: left;
}

.card{
  border: none;
  padding: 10px;
}
.text-white{
  color: rgb(180, 178, 178);
}
.form-control{
  width: 50%;
}
input{
  margin: auto;
}

.card-footer{
  border-top: none;
}
.flex{
  display: flex;
  justify-content: space-between;
  font-size: small;
}
.text-muted{
  color: blanchedalmond;
}
footer{
  margin-bottom: 0;
  height: 100%;
}
